*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-image: url(../assets/images/bg-img-actual.png);
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

/* NAVBAR */

.nav-logo{
    height: 25px;
}
.navbar a:hover{
    text-decoration: underline;
}

/* GC-PC */

.gc-pc{
    margin-top: 80px;
    background-image: url(../assets/images/pc-photo.webp);
    height: 80vh;
    background-size:contain;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
}
.gc-pc-text{
    display: flex;
    flex-direction: column;
}
.gc-pc h1{
    margin-top: 200px;
    font-size: 60px;
    max-width: 450px;
    font-weight: 900;
}
.gc-pc p{
    font-size: 20px;
    max-width: 450px;
}
/* responsive-work */
.my-6{
    margin-top: 20%;
    margin-left: 25%;
}

/* VIDEO */
/* responsive-work */
.video-box{
    height: 650px;
    width: 1300px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 60px;
    border: 5px solid #6a72c8;
}
.video-player-type1 video{
    height: 615px;
    margin-top: 13px;
    margin-left: 13px;
    border-radius: 60px;
}
.video-player-type2 video{
    height: 615px;
    margin-top: 13px;
    margin-right: 13px;
    border-radius: 60px;
}
.video-text{
    margin-top: 13%;
    padding-left: 30px;
}
.video-text h2{
    font-size: 2.6rem;
    font-weight: 800;
    font-family: 'antique_olive_stdcompact';
}
.video-text p{
    margin-top: 20px;
    max-width: 400px;
    font-size: 1.5rem;
}

.video-1 .video-box{
    background-color: rgb(87, 107, 238);
}
.video-1{
    padding: 300px 0px;
}
.video-1 img{
    margin-left: 950px;
    height: 100px;
}

.video-2 .video-box , .video-4 .video-box , .video-5 .video-box , .video-6 .video-box{
    background-image: linear-gradient(45deg,#7874b2,rgb(65, 119, 230,0.2));
}
.video-2{
    padding-bottom: 300px;
}


.video-box-3{
    height: 650px;
    width: 1300px;
    background-color: #375bd5;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(8px);
    border-radius: 60px;
    border: 5px solid #6a72c8;
}


.video-5{
    padding-top: 300px;
}


.video-6{
    padding-top: 300px;
}

/* RIBBON  */

.ribbon{
    padding: 300px 0;
}
.scrolling-ribbon {
    display: flex;
    overflow: hidden;
    background: linear-gradient(90deg, #3f5efb, #7faaff);
    padding: 15px 0;
    white-space: nowrap;
}

.scrolling-ribbon span {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0 30px;
    font-family: 'antique_olive_stdcompact';
}

.scrolling-ribbon img {
    height: 40px;
    margin: 0 10px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.scrolling-content {
    display: flex;
    animation: scroll 100s linear infinite;
}


/* NOSCROLL */

.noscroll h2{
    font-family: 'antique_olive_stdcompact';
    padding: 200px 0px 30px 0px;
    font-size: 40px;
    font-weight: 900;
}
/* responsive-work */
.noscroll button{
    margin-left: 38%;
}
.noscroll{
    padding-bottom: 400px;
}

/* FOOTERPRE */

/* needs to be responsive */
.footerpre img{
    margin-left: 16%; 
}


/* FOOTER */

footer{
    padding: 40px 0px 10px 0px;
    background-image: linear-gradient(45deg,#86abe2,#313a8d);
}
footer .col-language{
    padding-right: 200px;
}
footer .dropdown button{
    color: white;
}
footer .dropdown .dropdown-menu .country-icon{
    height: 20px;
    margin-right: 15px;
}
footer .footer-line-seperator{
    width: 100%;
    display: block;
    height: 1px;
    background-color: white;
}
footer .footer-logo button{
    margin-left: 1030px;
}
footer .footer-logo{
    margin-top: 20px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}